<html>
<head>
<title>  </title>   
</head>
<body>
    <div id="login-box">
      <div class="left-box">
        <h1 class="top-header"> Login</h1>  
          <input type="email" name="email" placeholder="Email"/>
          <input type="password" name="password" placeholder="Password"/>
          <input type="submit" name="signup-button" value="Login"/>   
      </div>
        <div class="right-box">
          <span class="signinwith">Login with<br/>Social Network</span>
        
        <button class="social facebook">Log in with Facebook</button>    
        <button class="social github">Log in with Github</button> 
        <button class="social google">Log in with Google</button> 
        <p class="login-box">Don't have an account? <a class="login-btn" routerLink=""> Register</a></p>
        </div>
        <div class="or">OR</div>
    </div>  
</body>    
</html>