<html>
<head>
<title> {{title}} </title>   
</head>
<body>
    <div id="login-box">
      <div class="left-box">
        <h1> Register</h1>  
          <input type="text" name="firstname" placeholder="Firstname"/>
          <input type="text" name="lastname" placeholder="Lastname"/>
          <input type="email" name="email" placeholder="Email"/>
          <input type="password" name="password" placeholder="Password"/>
          <input type="submit" name="signup-button" value="Register"/>   
      </div>
        <div class="right-box">
          <span class="signinwith">Register with<br/>Social Networ</span>
        
        <button class="social facebook">Register with Facebook</button>    
        <button class="social github">Register with Github</button> 
        <button class="social google">Register with Google</button> 
        <p class="login-box">Already have an account? <a class="login-btn" routerLink="login"> Login</a></p>
        </div>
        <div class="or">OR</div>
    </div>
    
</body>    
</html>


