header{
    overflow: hidden;
    width: 1280px;
    background-color: black;
    margin-left: -8px;
    height: 350px;
    
}

.content{
    color:white;
    margin-top: 110px;
}


* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 6px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.row{
    margin-top: 200px;
}

.api{
    padding-top: 60px;
}

.sub-header{
    font-size: larger;
