<!-- ******* Customer Navbar ******* -->

<!--Header 


<mat-toolbar class="toolbar-color navbar">
    <mat-icon class="icon-size icon-color" (click)="openNav()" id="hide"> reorder </mat-icon>
    <a style="   visibility: hidden; "> hello</a>
    <div>
       <mat-icon class="mat-new-releases"> new_releases </mat-icon>
       <mat-icon class="mat-person"> person</mat-icon>
       <mat-icon class="mat-logout"> exit_to_app</mat-icon>
    </div>
</mat-toolbar>

<div id="mySidenav" class="sidenav">
    <a class="closebtn" style="transition: 0.9s" (click)="closeNav()">&times;</a>
    <a href="#">Flight Status</a><hr>
    <a href="#">Book Flight </a><hr>
    <a href="#">Check in </a><hr>
  </div>
  <div id="main">  


  </div>







 Don't delete

<mat-toolbar class="toolbar-color navbar">
    <mat-icon class="icon-size icon-color" (click)="openNav()" id="hide"> reorder </mat-icon>
    <a style="   visibility: hidden; "> hello</a>
    <div>
       <mat-icon class="mat-new-releases"> new_releases </mat-icon>
       <mat-icon class="mat-person"> person</mat-icon>
       <mat-icon class="mat-logout"> exit_to_app</mat-icon>
    </div>
</mat-toolbar>

<div id="mySidenav" class="sidenav">
    <a class="closebtn" style="transition: 0.9s" (click)="closeNav()">&times;</a>
    <a href="#">Flight Status</a><hr>
    <a href="#">Book Flight </a><hr>
    <a href="#">Check in </a><hr>
  </div>
  <div id="main">  

  </div>
-->









<!-- Don't delete

<a routerLink="">reg</a>
<a routerLink="login">login</a>
<a routerLink="pagenotfound">pnf</a>

-->
<router-outlet></router-outlet>
