<app-navbar></app-navbar>



<div id='main'> 

    <div *ngFor="let flight of fs">

            <table id="customer">
                    <tr>
                            <th>Company</th>
                            <th>Origin</th>
                            <th>Departure Time</th>
                            <th>Arrival Time</th>
                            <th>Origin</th>
                            <th>Destination</th>
                    </tr>
                    <tr>
                        
                      <td>{{flight.company}}</td>
                      <td>{{flight.origin}}</td>
                      <td>{{flight.departureTime}}</td>
                      <td>{{flight.arrivalTime}}</td>
                      <td> {{flight.destination}} </td>
                    </tr>
                  </table>
    </div>


</div>