<h3>Book Flight</h3>

<div>
    <button (click)="showflight()">Airport</button> 
</div>

<form (ngSubmit)="buyticket(luggage)">
    <select>
        <option *ngFor="let bf of flight" value="flightID">
            {{bf.flightID}}: {{bf.origin}} ~ {{bf.destination}}, {{bf.departureTime}} ~ {{bf.arrivalTime}}, ${{bf.price}}
        </option>
    </select><br><br>
    Number of Luggage
    <br><br>
    <select name="luggage" id="luggage">
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
    <button type="submit">Buy Ticket</button>
</form>
